.mat-expansion-panel {
  width: 50rem;
  margin: auto;
}

.mat-expansion-panel-header-description {
  .green {
    color: #2f5c05;
  }

  .yellow {
    color: #adad2a;
  }

  .blue {
    color: #0059ff;
  }

  .status {
    font-weight: 500;
  }

  .eta {
    margin-left: auto;
  }
}
