.mat-expansion-panel {
  width: 40rem;
  // display: flex;
  margin: auto;
}

.green,
.yellow,
.blue {
  font-weight: 500;
}

.green {
  color: #2f5c05;
}

.yellow {
  color: #adad2a;
}

.blue {
  color: #0059ff;
}
