<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="dimension_x">
    <th mat-header-cell *matHeaderCellDef>Dimension X</th>
    <td mat-cell *matCellDef="let element">{{ element.dimension_x }} cm</td>
  </ng-container>

  <ng-container matColumnDef="dimension_y">
    <th mat-header-cell *matHeaderCellDef>Dimension Y</th>
    <td mat-cell *matCellDef="let element">{{ element.dimension_y }} cm</td>
  </ng-container>

  <ng-container matColumnDef="dimension_z">
    <th mat-header-cell *matHeaderCellDef>Dimension Z</th>
    <td mat-cell *matCellDef="let element">{{ element.dimension_z }} cm</td>
  </ng-container>

  <ng-container matColumnDef="dangerous">
    <th mat-header-cell *matHeaderCellDef>Dangerous</th>
    <td mat-cell *matCellDef="let element">{{ element.dangerous | yesNo }}</td>
  </ng-container>

  <ng-container matColumnDef="stackable">
    <th mat-header-cell *matHeaderCellDef>Stackable</th>
    <td mat-cell *matCellDef="let element">{{ element.stackable | yesNo }}</td>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let element">
      {{ element.created_at | date: "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="updated_at">
    <th mat-header-cell *matHeaderCellDef>Updated</th>
    <td mat-cell *matCellDef="let element">
      {{ element.updated_at | date: "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
